<div class="card text-center">
  <div class="card-header" style="color:black;">
    <%= @restaurant.name %>
    <%= link_to "", restaurant_path(@restaurant), method: :delete, data: { confirm: "Are you sure you want to delete this restaurant ?" }, :class => "far fa-trash-alt"%>
    <%= link_to "",  edit_restaurant_path(@restaurant), :class => "fa fa-pencil-alt" %>
    </div>
  <div class="card-body">
    <h5 class="card-title">Address: <%= @restaurant.address %></h5>
    <p class="card-text">Phone #: <%= @restaurant.phone_number %></p>
    <p class="card-text">Category: <%= @restaurant.category %></p>
    <p class="card-text">Rating: <%= @restaurant.stars %></p>
  </div>
  <div class="card-footer text-muted">
    <p><i class="fa fa-history" style="color:black;"></i> <%= link_to "Back to index",  restaurants_path %> | <i class="fa fa-eye" style="color:black;"></i> <%= link_to "View restaurant's reviews",  restaurant_reviews_path(@restaurant) %></p>
  </div>
</div>
