<h1>Adding a review for <%= @restaurant.name %></h1>
<hr>

<%= simple_form_for [@restaurant, @review] do |f| %>

<% if @restaurant.errors.any? %>
  <div class="errors-container">
    <ul>
      <% @restaurant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

  <%= f.input :content %>
  <%= f.submit "Add a review", class: "btn btn-primary" %>
<% end %>
